header{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

div.container {
    margin: auto;
    width: 90%;
    border: 1px solid gray;
}

div.searchBar {
    padding: 1em;
    float: right;
}

p.notFound {
    padding: 1em;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

table {
    margin: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

th {
    border: 1px solid gray;
    text-align: center;
    padding: 8px;
}

td {
    border: 1px solid gray;
    text-align: left;
    padding: 8px;
}
